@charset "UTF-8";
/******** Fonts **********/
@font-face {
  font-family: "Lato";
  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoitalic.woff2") format("woff2"), url("../fonts/latoitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/******** Base styles **********/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

input {
  display: block;
  border: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/********** Header ***********/
.header {
  background-color: #222222;
  padding: 18px 0;
  position: relative;
}
.header svg path {
  fill: #E8E8E8;
}
.header__logo {
  margin-right: 38px;
}
.header__form {
  display: flex;
  align-items: center;
  height: 31px;
}
.header__form label {
  height: 100%;
}
.header__form-input {
  display: none;
  background-color: transparent;
  border: 1px solid #E8E8E8;
  height: 34px;
  padding: 0 10px;
  color: #FFFFFF;
}
.header__form-input:active, .header__form-input:focus {
  display: block;
}
.header__form-group {
  margin-right: 10px;
  display: flex;
}
.header__form-group:hover path, .header__form-group:active path, .header__form-group:focus path {
  fill: #F16D7F;
}
.header__form-group:hover .header__form-input, .header__form-group:active .header__form-input, .header__form-group:focus .header__form-input {
  display: block;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__search {
  cursor: pointer;
}
.header__search-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__menu-list {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 174px;
  padding-right: 9px;
}
.header__nav {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  padding: 38px 0 150px 34px;
  width: 232px;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.header__nav--active {
  display: block;
}
.header__nav-close {
  position: absolute;
  right: 12px;
  top: 10px;
}
.header__nav-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin-bottom: 26px;
}
.header__nav-list {
  font-size: 14px;
}
.header__nav-item {
  margin-bottom: 22px;
}
.header__basket-number {
  position: absolute;
  background-color: #F16D7F;
  border-radius: 50%;
  top: 0;
  right: 0;
  height: 19px;
  width: 19px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}

/**********Page-header***********/
.page-header {
  background-color: #F8F3F4;
  color: #F16D7F;
  padding: 60px 0;
}
.page-header__title {
  font-size: 24px;
  text-transform: uppercase;
}

/********** Nav-item ***********/
.nav-item {
  font-weight: 400;
}
.nav-item__title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 14px;
  margin-bottom: 11px;
}
.nav-item__list {
  color: #6F6E6E;
  padding-left: 20px;
}
.nav-item__item {
  margin-bottom: 12px;
}
.nav-item__item-link {
  display: inline-block;
}

/**********Registration***********/
.registration {
  padding: 66px 0 95px;
}
.registration__wrapper {
  display: grid;
  grid-template-columns: 32% 58%;
  grid-gap: 124px;
}
.registration__form-fieldset:first-child {
  margin-bottom: 12px;
}
.registration__form-title {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}
.registration__form-label {
  display: block;
  margin-bottom: 20px;
}
.registration__form-input {
  border: 1px solid #A4A4A4;
  width: 100%;
  padding: 12px 14px;
}
.registration__form-input::-moz-placeholder, .registration__form-input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #B1B1B1;
}
.registration__form-radio {
  display: flex;
  margin-bottom: 36px;
}
.registration__form-radio-label {
  font-weight: 300;
  font-size: 11px;
  color: #000000;
  margin-right: 25px;
}
.registration__form-radio-input {
  margin-right: 10px;
}
.registration__form-info {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 34px;
}
.registration__form-submit {
  background-color: #F16D7F;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 18px 65px 18px 29px;
  cursor: pointer;
}
.registration__form-submit-label {
  position: relative;
  display: inline-block;
}
.registration__form-submit-label::after {
  position: absolute;
  content: "";
  background-image: url(../img/svg/button-arrow-right.svg);
  z-index: 99;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 17px;
  height: 10px;
}
.registration__perks-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 23px;
}
.registration__perks-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
}
.registration__perks-list {
  font-weight: 300;
  font-size: 24px;
  padding-left: 40px;
  line-height: 30px;
}
.registration__perks-list-item {
  position: relative;
  margin-bottom: 13px;
}
.registration__perks-list-item::before {
  position: absolute;
  content: "";
  background-image: url(../img/svg/mark.svg);
  z-index: 99;
  width: 20px;
  height: 16px;
  top: 50%;
  left: -43px;
  transform: translateY(-50%);
}

/********** Cover ***********/
.cover {
  background-color: #F1E4E6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cover__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 43px;
  color: #222222;
  height: 92px;
  border-left: 12px solid #F16D7F;
  padding-left: 17px;
  padding-top: 10px;
}
.cover__title-bottom {
  font-weight: 700;
  font-size: 32px;
  display: block;
}
.cover__title-color {
  color: #F16D7F;
}
.cover__title-wrapper {
  padding-top: 290px;
  padding-left: 63px;
}

/********** Offers ***********/
.offers {
  padding-top: 68px;
  padding-bottom: 95px;
}
.offers__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 360px));
  grid-template-rows: minmax(168px, 260px) minmax(116px, 180px);
  grid-gap: 30px;
}
.offers__item {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers__item--woman {
  background-image: url(../img/offer-img-1.jpg);
}
.offers__item--man {
  background-image: url(../img/offer-img-2.jpg);
}
.offers__item--kids {
  background-image: url(../img/offer-img-3.jpg);
}
.offers__item--bottom {
  background-image: url(../img/offer-img-bottom.jpg);
  grid-column: 1/4;
}
.offers__info {
  text-align: center;
  text-transform: uppercase;
}
.offers__info-text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.offers__info-title {
  font-weight: 700;
  font-size: 24px;
  color: #F16D7F;
  line-height: 32px;
}

/********** Products ***********/
.products {
  text-align: center;
  padding-bottom: 95px;
}
.products__button {
  font-weight: 400;
  font-size: 16px;
  color: #F26376;
  cursor: pointer;
  border: 1px solid #FF6A6A;
  display: inline-block;
  padding: 14px 38px;
}
.products__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 8px;
}
.products__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 48px;
  margin-bottom: 48px;
}
.products__img-wrapper {
  max-height: 420px;
  position: relative;
}
.products__item {
  background-color: #F8F8F8;
}
.products__item:hover img, .products__item:active img, .products__item:focus img {
  filter: brightness(50%);
  transition: 0.3s;
}
.products__item:hover button, .products__item:active button, .products__item:focus button {
  display: block;
  transition: 0.3s;
}
.products__item-button {
  display: none;
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #ffffff;
  padding: 13px 15px 13px 52px;
}
.products__item-button::before {
  position: absolute;
  display: block;
  content: " ";
  background-image: url("../img/svg/product-cart.svg");
  height: 25px;
  width: 27px;
  background-repeat: no-repeat;
  left: 13px;
  top: 9px;
}
.products__item-info {
  text-align: left;
  padding: 23px 20px 21px 18px;
}
.products__item-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.products__item-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.products__item-price {
  font-weight: 400;
  font-size: 16px;
  color: #F16D7F;
}

/********** Features ***********/
.features {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 105px;
}
.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 134px;
  grid-gap: 30px;
}
.features__list img {
  width: auto;
  height: auto;
  margin-bottom: auto;
}
.features__list-item {
  text-align: center;
  color: #FBFBFB;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.features__list-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}
.features__list-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

/********** Subscribe ***********/
.subscribe {
  padding-top: 97px;
  padding-bottom: 153px;
  text-align: center;
  background-image: url(../img/subscribe-bg.jpg);
  background-position: center;
  background-size: cover;
}
.subscribe .subscribe__wrapper {
  display: flex;
  justify-content: space-between;
}
.subscribe__info {
  max-width: 342px;
}
.subscribe__info-img {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}
.subscribe__info-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.subscribe__form {
  color: #222224;
  width: 557px;
  padding-top: 59px;
}
.subscribe__form-label {
  height: 100%;
}
.subscribe__form-label--email {
  width: 100%;
}
.subscribe__form-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}
.subscribe__form-subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 31px;
}
.subscribe__form-group {
  display: flex;
  justify-content: space-between;
  max-width: 356px;
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  height: 49px;
}
.subscribe__form-group:focus {
  outline: 1px solid #000000;
}
.subscribe__form-email {
  height: 100%;
  width: 100%;
  background-color: #E1E1E1;
  width: 100%;
  padding-left: 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.subscribe__form-email:focus {
  outline: 1px solid #000000;
}
.subscribe__form-email ::-moz-placeholder {
  color: rgba(34, 34, 36, 0.67);
}
.subscribe__form-email ::-webkit-input-placeholder {
  color: rgba(34, 34, 36, 0.67);
}
.subscribe__form-button {
  height: 100%;
  background-color: #E05C6E;
  color: #ffffff;
  padding-right: 16px;
  padding-left: 20px;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/****************Footer***************/
.footer {
  background-color: #222224;
  padding: 24px 0;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 148px;
}
.footer__social-link {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-link path {
  fill: #000000;
}

/******* Media **********/
/********** Interaсtive ***********/
@media (min-width: 992px) {
  .header svg:hover path {
    fill: #F16D7F;
  }

  .nav-item__item-link {
    position: relative;
  }
  .nav-item__item-link:hover::before {
    transform: scaleX(1);
  }
  .nav-item__item-link::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6F6E6E;
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  .products__button:hover {
    color: #ffffff;
    background-color: #F16D7F;
    transition: 0.3s;
  }
  .products__button:active {
    background-color: #e21632;
  }

  .registration__form-submit:hover {
    background-color: #b42236;
    transition: 0.3s;
  }
  .registration__form-submit:active {
    background-color: #f0b2ba;
  }

  .subscribe__form-button:hover {
    background-color: #b42236;
    transition: 0.3s;
  }
  .subscribe__form-button:active {
    background-color: #f0b2ba;
  }

  .footer__social-link:hover {
    background-color: #F16D7F;
    transition: 0.3s;
  }
  .footer__social-link:hover path {
    fill: #ffffff;
    transition: 0.3s;
  }
  .footer__social-link:active {
    background-color: #e21632;
  }
}/*# sourceMappingURL=style.css.map */