/******* Media **********/
@media (min-width: 1610px)
  .container
    max-width: 73%

@media (max-width: 1200px)
  .registration
    &__wrapper
      grid-gap: 25px
    &__perks
      &-title, &-info, &-list
        font-size: 20px

@media (max-width: 1050px)
  .registration
    padding-top: 41px
    &__wrapper
      grid-gap: 22px

    &__perks
      &-title, &-info, &-list
        font-size: 16px
        line-height: 19px

    &__perks
      &-title
        margin-bottom: 31px

      &-info
        margin-bottom: 22px

      &-list
        padding-left: 44px
        &-item
          margin-bottom: 20px


/********** Interaсtive ***********/
@media (min-width: 992px)

  .header

    svg
      &:hover,&:focus
        path
          fill: $pink-color

      &:active
        opacity: 0.7
  
  .nav-item__item-link
    position: relative
    &:hover::before
      transform: scaleX(1)

    &::before
      position: absolute
      bottom: 0
      content: ''
      width: 100%
      height: 1px
      background-color: #6F6E6E
      transform: scaleX(0)
      transition: transform 0.25s

  .products

    &__button
      &:hover, &:focus
        color: #ffffff
        background-color: $pink-color
        transition: 0.3s

      &:active
        background-color: $active-button

  .registration
    &__form

      &-submit
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .cart
    &__button, &__checkout-input--button
      &:hover, &:focus
        color: #ffffff
        background-color: $pink-color
        transition: 0.3s

      &:active
        background-color: $active-button
        

    &__checkout
      &-button
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .subscribe
    &__form

      &-email
        &:focus
          outline: 1px solid #000000

      &-button
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .footer
    &__social
      &-link
        &:hover
          background-color: $pink-color
          transition: 0.3s
          path
            fill: #ffffff
            transition: 0.3s

        &:active
          background-color: $active-button



@media (max-width: 992px)


@media (max-width: 920px)
  .cover
    &__title
      font-size: 44px
      padding-top: 6px
      padding-left: 14px
      line-height: 38px
      left: 11%
      &-bottom
        font-size: 24px

  .offers
    padding-top: 22px
    padding-bottom: 154px

    &__list
      grid-gap: 20px
      grid-auto-rows: 168px
      margin-bottom: 20px

    &__item
      &--bottom
        height: 116px

  .products
    padding-bottom: 64px
    &__list
      padding-top: 72px
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 16px
      margin-bottom: 35px

  .features
    &__list
      column-gap: 0px
      &-item
        padding: 0 10px
    

@media (max-width: 768px)

  .header
    padding-right: 30px
    padding-left: 30px


  .cover
    &__title
      padding-left: 14px
      padding-right: 0

  .features
    padding: 48px 15px 60px
    &__list
      grid-template-columns: 1fr
      grid-auto-rows: 134px
      grid-gap: 48px
      width: 360px
      margin: auto

      &-item
        padding: 0 20px

  .subscribe
    padding-top: 66px
    padding-bottom: 140px
    &__wrapper
      flex-direction: column
      align-items: center

    &__form
      padding-top: 79px
      &-subtitle
        margin-bottom: 25px

@media (max-width: 730px)
  .cover
    &__title
      font-size: 38px
      left: 0%
      &-bottom
        font-size: 20px

@media (max-width: 580px)

  .header
    padding-left: 15px
    padding-right: 15px

    &__menu-list
      width: auto
      padding-right: 0

    &__auto, &__basket
      display: none

  .cover
    height: 363px
    grid-template-columns: 1fr
    &__img
      display: none

    &__title
      position: static
      line-height: 34px

      &-bottom
        line-height: 22px

      &-wrapper
        display: flex
        justify-content: center
        align-items: center

  .offers
    padding-top: 64px
    padding-bottom: 68px

    &__list
      grid-template-columns: 1fr
      grid-auto-rows: 247px
      grid-gap: 32px
      margin-bottom: 32px

    &__item
      &--bottom
        height: 111px

  .products
    padding-right: 8px
    padding-left: 8px
    padding-bottom: 96px

    &__list
      padding-top: 63px
      grid-template-columns: 1fr
      margin-bottom: 40px

  .features
    padding-bottom: 84px

    &__list
      grid-auto-rows: 130px
      grid-gap: 44px

  .subscribe
    padding-bottom: 107px

    &__info-img
      margin-bottom: 23px

    &__info-text
      font-size: 18px
      line-height: 22px

    &__form
      padding-top: 71px

      &-title
        margin-bottom: 4px

      &-subtitle
        font-size: 14px

  .footer
    padding-top: 43px

    &__wrapper
      flex-direction: column

    &__copyright
      order: 1

    &__social
      margin-bottom: 40px
      
@media (max-width: 400px)
  
      
@media (max-width: 320px)
