/******* Media **********/
@media (min-width: 1440px)


@media (max-width: 1200px)


/********** Interaсtive ***********/
@media (min-width: 992px)

  .header

    svg
      &:hover,&:focus
        path
          fill: $pink-color

      &:active
        opacity: 0.7
  
  .nav-item__item-link
    position: relative
    &:hover::before
      transform: scaleX(1)

    &::before
      position: absolute
      bottom: 0
      content: ''
      width: 100%
      height: 1px
      background-color: #6F6E6E
      transform: scaleX(0)
      transition: transform 0.25s

  .products

    &__button
      &:hover, &:focus
        color: #ffffff
        background-color: $pink-color
        transition: 0.3s

      &:active
        background-color: $active-button

  .registration
    &__form

      &-submit
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .cart
    &__button, &__checkout-input--button
      &:hover, &:focus
        color: #ffffff
        background-color: $pink-color
        transition: 0.3s

      &:active
        background-color: $active-button
        

    &__checkout
      &-button
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .subscribe
    &__form

      &-email
        &:focus
          outline: 1px solid #000000

      &-button
        &:hover
          background-color: $hover-submit
          transition: 0.3s
        &:active
          background-color: $active-submit
        &:focus
          outline: 1px solid #000000

  .footer
    &__social
      &-link
        &:hover
          background-color: $pink-color
          transition: 0.3s
          path
            fill: #ffffff
            transition: 0.3s

        &:active
          background-color: $active-button



@media (max-width: 992px)


@media (max-width: 768px)
  

@media (max-width: 400px)
  
      
@media (max-width: 320px)
