/********** Cover ***********/
.cover
  background-color: $cover-color
  display: grid
  grid-template-columns: 1fr 1fr

  &__title
    position: absolute
    top: 38%
    left: 8%
    display: inline-block
    text-transform: uppercase
    font-weight: 900
    font-size: 48px
    line-height: 43px
    color: #222222
    padding-top: 10px
    padding-left: 17px
    border-left: 12px solid $pink-color

    &-bottom
      font-weight: 700
      font-size: 32px
      display: block

    &-color
      color: $pink-color

    &-wrapper
      position: relative

