/********** Header ***********/

.header
  background-color: #222222
  padding: 18px 32px
  position: relative

  svg
    path
      fill: $icons-color

  &__logo
    margin-right: 38px

  &__form
    display: flex
    align-items: center
    height: 31px

    label
      height: 100%

    &-input
      display: none
      background-color: transparent
      border: 1px solid $icons-color
      height: 34px
      padding: 0 10px
      color: #FFFFFF
      &:active,&:focus
        display: block

    &-group
      margin-right: 10px
      display: flex
      &:hover,&:active,&:focus
        path
          fill: $pink-color

        .header__form-input
          display: block
      

  .header__wrapper
    display: flex
    justify-content: space-between

  &__search
    cursor: pointer

    &-wrapper
      display: flex
      align-items: flex-end
      justify-content: space-between

  &__menu-list
    position: relative
    display: flex
    align-items: flex-end
    justify-content: space-between
    width: 174px
    padding-right: 9px
    

  &__nav
    z-index: 99
    display: none
    position: absolute
    top: 75px
    right: 0
    padding: 38px 0 150px 34px
    width: 232px
    background-color: #ffffff
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)

    &--active
      display: block

    &-close
      position: absolute
      right: 12px
      top: 10px


    &-title
      font-size: 14px
      text-transform: uppercase
      font-weight: 700
      color: #000000
      margin-bottom: 26px

    &-list
      font-size: 14px

    &-item
      margin-bottom: 22px

  &__basket-number
    position: absolute
    background-color: $pink-color
    border-radius: 50%
    top: 0
    right: 0
    height: 19px
    width: 19px
    text-align: center
    font-size: 12px
    color: #ffffff
    line-height: 18px





